<div id="comparison" class="{{ this.componentAttribs.standalone ? 'overflow-hidden place-items-center h-screen' : 'animate-pulse' }} w-full flex items-center justify-center select-text">
	<div class="comparison__wrapper {{ this.componentAttribs.standalone ? '' : 'w-full my-14 min-[2000px]:my-24' }}" id="comparison__container">
		<video playsinline muted id="comparison__videoAfter" alt="{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'comparison.videoAfterAlt') }}" preload="none" poster="/medias/demos/dronefootages_after.webp" src="/medias/demos/dronefootages_after.mp4" class="comparison__videoRight mx-auto rounded-md"></video>
		<video playsinline muted id="comparison__videoBefore" alt="{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'comparison.videoBeforeAlt') }}" preload="none" poster="/medias/demos/dronefootages_before.webp" src="/medias/demos/dronefootages_before.mp4" class="comparison__videoLeft mx-auto rounded-md"></video>

		<div class="comparison__text-overlay-left py-2 px-3.5 md:py-2.5 md:px-6">
			<p class="text-xs md:text-base">{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'comparison.videoBeforeText') }}<br>36.8 MB ― 1080p</p>
		</div>

		<div class="comparison__text-overlay-right py-2 px-3.5 md:py-2.5 md:px-6">
			<p class="text-xs md:text-base">{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'comparison.videoAfterText') }}<br>7.9 MB ― 1080p</p>
		</div>

		<div class="comparison__sliderHandle"></div>
		<div class="comparison__sliderButton">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none">
				<path d="M36 16L44 24L36 32" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M4 24H44" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M12 16L4 24L12 32" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
			  </svg>
		</div>
	</div>
</div>